<h1>Rails ATM</h1>
<p>Enter amounts for deposit or withdrawal, or request your balance:</p>
<table>
	<thead>
		<tr>
			<td>Deposits</td>
			<td>Withdrawals</td>
			<td>Check Balance</td>
			<tr>
				</thead>
				<tbody>
					<tr>
						<td>
    						 <%= form_tag("/atm/home", method: "post") do %>
             				 <%= label_tag(:d_amount, "deposit amount") %>
            				  <%= text_field_tag(:d_amount) %>	
             				 <%= hidden_field_tag(:atmaction, value = "deposit", options = {}) %>
            				  <%= submit_tag("Deposit",:class => "btn waves-light") %> 
              				<% end %>
          			    </td>
          			  	<td>
            			  <%= form_tag("/atm/home", method: "post") do %>
             			 <%= label_tag(:w_amount, "withdrawal amount") %>
              			 <%= text_field_tag(:w_amount) %>	
             			 <%= hidden_field_tag(:atmaction, value = "withdraw", options = {}) %>
             			 <%= submit_tag("Withdraw",:class => "btn waves-light ") %> 
             			 <% end %>
           				 </td>
           				 <td>
           				 	<%= form_tag("/atm/home", method: "post") do %>
           				 	<%= label_tag(:placeholder, "Click below to see your balance") %>
           				 	<%= text_field_tag('placeholder', value = "", options = {:disabled => true}) %>
           				 	<%= hidden_field_tag(:atmaction, value = "balance", options = {}) %>
           				 	<%= submit_tag("Check Balance", :class => "btn waves-light") %>
           				 	<% end %>





           				 </td>
          </tr>
          <tr>
            <td colspan='5'><%= RailsATM::Application.config.message %></td>
          </tr>
        </tbody>
      </table>
 